@import "review.css";

body {
  position: relative;
  background-color: #000000;
  color: #dedede;
}

textarea {
  resize: none;
  padding: 10px;
}
textarea::placeholder {
  font-size: 1.2em;
  font-style: italic;
  font-weight: bold;
}

.pageBtns {
  position: absolute;
  top: 35px;
  left: 70px;
}

.homeBtn, .backBtn {
  border-radius: 50px;
  width: 50px;
  height: 50px;
  margin: 5px;
  transition: all 0.2s;
  background-color: #53464b;
  color: #fefefe;
}

button i {
  font-size: 15px;
}

.backBtn:hover, .homeBtn:hover {
  background-color: #967f87;
  color: #000000;
  transition: all 0.2s;
}

.commentInput {
  width: 100%;
  padding: 20px;
  margin-bottom: 15px;
  border-radius: 10px;
  border: 1px solid black;

  display: flex;
  display: inline-block;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.commentInput h2 {
  color: black;
  margin-bottom: 10px;
}

.commentInput input {
  background-color: black;
  width: 120px;
  height: 25px;
  cursor: text;
  padding: 5px;
  margin: 0px 5px 3px 0px;
  border-radius: 5px;
  border: none;
  color: white;
}

.checkMsg {
  display: none;
  font-size: 13px;
  font-weight: 500;
  color: red;
}

.comment {
  resize: none;
  background-color: black;
  color: white;
  font-size: 15px;
  width: 100%;
  cursor: text;
  margin-top: 5px;
  padding: 5px;
  border-radius: 10px;
  border: none;
}

.inputBtn {
  background-color: black;
  font-size: 15px;
  width: 100px;
  height: 30px;
  float: right;
  background-color: transparent;
  border: 1.5px solid black;
  color: black;
  border-radius: 15px;
  margin-top: 10px;
}

.inputBtn:hover {
  background-color: black;
  color: white;
}

#commentPassword {
  width: 120px;
  height: 25px;
  cursor: text;
  background-color: black;
  color: wheat;
  padding: 5px;
  border-radius: 5px;
  border: none;
  margin-left: 7px;
}

.review-check-password {
  display: none;
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 5px;
  color: red;
}

.date {
  font-size: 12px;
}

.commentContent {
  font-size: 20px;
  height: auto;
  width: 95%;
  color: black;
  cursor: text;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

.commentCard {
  width: 100%;
  height: auto;
  margin-bottom: 40px;
  padding: 5px;
}

.commentStar {
  color: #f9bf3b;
}

/* star */
.rating {
  margin: 0px auto;
  width: 130px;
}

.rating > * {
  float: right;
}

.rating label {
  height: 10px;
  width: 20%;
  display: block;
  position: relative;
  top: -43px;
  left: 40px;
  cursor: pointer;
}

.rating label::after {
  transition: all 0.4s ease-out;
  -webkit-font-smoothing: antialiased;
  position: absolute;
  content: "☆";
  color: #444;
  top: 0;
  left: 0;
  width: 10%;
  height: 10%;
  text-align: center;
  font-size: 30px;
  -webkit-animation: 1s pluse ease;
  animation: 1s pluse ease;
}

.rating label:hover::after {
  color: #5e5e5e;
  text-shadow: 0 0 15px #5e5e5e;
}

.rating input {
  display: none;
}

.rating input:checked + label::after,
.rating input:checked ~ label::after {
  content: "★";
  color: #f9bf3b;
  text-shadow: 0 0 20px #f9bf3b;
}
/* star */


/* 영화상세페이지 */
.container1 {
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 10%,
      rgba(0, 0, 0, 0.5) 25%,
      rgba(0, 0, 0, 0.6) 40%,
      rgba(0, 0, 0, 0.7) 50%,
      rgba(0, 0, 0, 0.8) 75%,
      rgba(0, 0, 0, 1) 100%
    ),
    url(../image/detail_default_image.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 0 ;
  min-width: 1020px;
  height: 400px;
  display: block;
  text-indent: -99999px;
}

.content-summary {
  display: flex;
  justify-content: center;
  width: 1020px;
  margin: 70px auto 0;
}

.detailContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 700px;
  height: 400px;
}

.top-info div{
  margin-bottom: 10px;
}
.top-info div:last-child {
  margin-bottom: 0;
}

.poster {
  display: inline-block;
  width: 300px;
  height: 450px;
  margin-left: 100px;
}

.detailTitle {
  font-weight: bold;
  font-size: 40px;
}

.genreItem {
  display: inline-block;
  height: 45px;
  padding: 0 15px;
  line-height: 45px;
  text-align: center;
  border-radius: 30px;
  font-size: 14px;
  font-weight: 600;
  margin-right: 5px;
  transition: all 0.2s;
  background-color: #53464b;
  color: #dedede;
}

.movie-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 50px;
}

.movie-info li .info-name, .movie-info li .info {
  display: inline-block;
  height: 20px;
  line-height: 20px;
}

.movie-info li .info-name {
  width: 80px;
}

.movie-info li .info {
  width: 150px;
  text-align: center;
}

.poster iframe {
  max-width: 400px;
  width: 100%;
  height: 200px;
}

/* 등장인물 */
.casts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 70px auto 0;
  width: 1020px;
  height: 180px;
}

.casts h1 {
  font-size: 20px;
  font-weight: 700;
}

.castsItem {
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  width: 240px;
  display: flex;
  float: left;
  align-items: center;
  height: 120px;
  margin-right: 47px;
}

.castItem {
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  width: 100px;
  float: left;
  margin-right: 50px;
  line-height: 20px;
}

.castsItem:last-child {
  margin: 0px;
}

.castsItemImg {
  width: 90px;
  height: 160px;
  background-size: cover;
  margin-bottom: 0.5rem;
}

.trailer {
  width: 1020px;
  margin: 70px auto;
  
}

.trailer h2 {
  font-size: 20px;
  font-weight: bold;
}

.trailer iframe {
  border-radius: 0.5rem;
  width: 1020px;
  height: 500px;
  margin: 20px 0;
}

.detailContent,
.trailer {
  vertical-align: top;
}

/* 관련영화 */
.movieListContainer {
  position: relative;
  width: 1020px;
  margin: 70px auto 0;
}
.scroll-btn {
  position: absolute;
  right: 30px;
  top: 50%;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  margin-top: -25px;
  z-index: 99;
  
  background-color: #dedede7a;
}
.scroll-btn i {
  font-size: 30px;
  color: #505050;
}

.movieListTitle {
  font-size: 20px;
  font-weight: bold;
}

.featured-content {
  height: 50vh;
  padding: 50px;
}

.featured-title {
  width: 200px;
}

.featured-desc {
  width: 500px;
  margin: 30px 0;
}

.featured-button {
  background-color: #53464b;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  outline: none;
  font-weight: bold;
}

.movieListWrapper {
  width: 100%;
  position: relative;
  overflow-x: auto; 
}

/* .movieListWrapper::-webkit-scrollbar {
  
} */


.movieList {
  display: flex;
  align-items: center;
  height: 300px;
  transform: translateX(0);
  transition: all 1s ease-in-out;
}

.movieListItem {
  margin-right: 30px;
  position: relative;
}

.movieListItem:hover .movieListItemImg {
  opacity: 0.5;
}

.movieListItem:hover .movieListItemTitle,
.movieListItem:hover .movieListItemDesc,
.movieListItem:hover .movieListItemButton {
  opacity: 1;
}

.movieListItemImg {
  transition: all 0.5s ease-in-out;
  width: 270px;
  height: 200px;
  object-fit: cover;
  border-radius: 20px;
}

.movieListItemTitle {
  padding: 0 10px;
  font-size: 30px;
  font-weight: bold;
  position: absolute;
  top: 10%;
  left: 20px;
  opacity: 0;
  transition: all 1s ease-in-out;
}

.movieListItemDesc {
  padding: 10px;
  font-size: 14px;
  position: absolute;
  top: 30%;
  left: 20px;
  width: 230px;
  opacity: 0;
  transition: all 1s ease-in-out;
}

.movieListItemButton {
  padding: 10px;
  color: #53464b;
  font-weight: bold;
  border-radius: 10px;
  outline: none;
  border: none;
  cursor: pointer;
  position: absolute;
  bottom: 20px;
  left: 20px;
  opacity: 0;
  transition: all 1s ease-in-out;
  background-color: #dedede;
}


.container.active {
  background-color: white;
}

.movieListTitle.active {
  color: black;
}

.light {
  background-color: #dedede !important;
  color: #191919 !important;
}
