/* 리뷰 */
.review {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 100;
  max-width: 700px;
  display: flex;
}

/* 리뷰 창 여닫기 */
.review-open-close-button {
  background-image: url(../image/commentBtn_left.png);
  background-color: white;
  border-radius: 30px 0px 0px 30px;
  color: white;
  width: 50px;
  height: 50px;
  font-size: 35px;
  margin: auto 0;
}
.open {
  transform: translateX(0px);
  transition-property: all;
  transition-duration: 1s;
  transition-delay: 0.2s;
}
.close {
  transform: translateX(calc(100% - 50px));
  transition-property: all;
  transition-duration: 1s;
  transition-delay: 0.2s;
}

.review-main {
  padding: 20px;
  width: 100%;
  position: relative;
  overflow: scroll;
  background-color: #e7e7e7;
}
/* 리뷰 작성 폼 */
.review-form-user {
  display: flex;
  align-items: center;
  gap: 8px;
}
.review-form-user input:nth-child(-n + 2) {
  padding-left: 2px;
}
.review-form-user input:last-child {
  width: 100%;
}
/* 작성한 리뷰 */
.review-box {
  width: 100%;
  margin-bottom: 15px;
  border-radius: 10px;

  display: flex;
  display: inline-block;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
.review-card {
  background-color: white;
  width: 100%;
  height: auto;
  padding: 8px;
  margin-bottom: 20px;
  border: 1px solid black;
  border-radius: 8px;
}

.review-card-info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 10px;
}
.review-card-info-user {
  display: flex;
  align-items: flex-end;
  gap: 1rem;
  width: fit-content;
}
.review-card-info-user h4 {
  width: fit-content;
  border: none;
  border-bottom: 2px solid black;
}
/* 별점 */
.review-form-rating,
.review-card-rating {
  position: relative;
  border: none;
  height: 25px;
  display: flex;
  align-items: flex-end;
  gap: 8px;
  color: #ddd;
  font-size: 25px;
}

.review-card-info h4 {
  width: 160px;
  border: 1px solid black;
}
.review-star {
  width: 0;
  color: #ffc107;
  position: absolute;
  left: 0;
  right: 0;
  overflow: hidden;
  pointer-events: none;
}
.review-rating input {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}
/* 리뷰 비밀번호 */
.review-card-info-password input {
  border: none;
  border-bottom: 2px solid black;
  margin-bottom: 8px;
}
.review-card-info-password input:focus {
  outline: none;
}
.review-check-password {
  /* display: none; */
  font-size: 13px;
  font-weight: 500;
  color: red;
}

.review-card-info input {
  width: 130px;
  height: 25px;
  border: 1px solid black;
  outline: black;
  border-radius: 5px;
  padding: 5px;
}

/* 리뷰 내용 */

.review-content-main {
  position: relative;
  width: 100%;
  min-height: 30px;
}
.review-content {
  border: 1px solid black;
  height: auto;
  width: 100%;
  font-size: 12px;
  color: black;
  cursor: text;
  padding: 2px;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

.reivew-content-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 81%;
  height: 30px;
  font-size: 16px;
  padding-left: 8px;
  border: 1px solid black;
  border-radius: 8px;
  padding-left: 8px;
  z-index: 2;
}
.reivew-content-button {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
}
.review-button-box {
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.review-update-textarea {
  width: 100%;
  min-height: 30px;
  height: auto;
  padding: 2px;
  font-size: 12px;
  overflow-y: hidden;
}

.reivew-content-button,
.review-button-delete,
.review-button-update {
  font-size: 15px;
  width: 100px;
  height: 30px;
  border: 1.5px solid black;
  border-radius: 15px;
}

.review-button-delete:hover {
  background-color: red;
  border: red;
  color: white;
}

.review-button-update:hover {
  background-color: blueviolet;
  border: blueviolet;
  color: white;
}
